<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctionappjdja.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/4c85b753-201a-4e91-9dc7-23b929520091/resourceGroups/ODL-serverless-architecture-82834/providers/Microsoft.Web/sites/TollBoothFunctionAppJDJA</ResourceId>
    <UserName>$TollBoothFunctionAppJDJA</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctionappjdja.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>